body {
    background-color: #DCC795;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
}

header {
    margin: 10px;
    /*border: solid black 2px;*/
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-flow: row wrap;
}

#highscores {
    margin: 10px;
    color: blue;
}

header h1 {
    width: 40%;
    text-align: center;
}

#cardfooter {
    display: none;
}





#time {
    color: red;
}

.card {
    /* border: solid black 2px;*/
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card-header {
    /* border: solid black 2px;*/
    text-align: center;
}

.card-body {
    /*border: solid blue 2px; */
    flex-direction: column;
    display: flex;
    width: 50%;
    align-items: center;
}

.question-container {
    
}

/* #questionform {
    display: flex;
    justify-content: center;
}*/

#question {
    display: flex;
    /* border: solid green 2px;*/
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

.questionButton {
    width: fit-content;
    background-color: aqua;
    margin: 5px;
    border-radius: 12px;
}



.card-footer {
    /* border: solid black 2px;*/
    display: flex;
    width: 75%;
    justify-content: center;
    border-top: solid black 4px
}

.feedback {
    font-size: 30px;
}

.startbtn {
    color: black;
    background-color: red;
    font-size: 40px;
    margin-top: 50px;
}