body {
    background-color: #DCC795;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
}

header h1 {
    width: 100%;
    text-align: center;
}

.card-footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn {
    color: black;
    background-color: red;
    
}